header {
  background-image: url('../img/painting-header.jpg');
}

#portfolio img {
  width: 100%;
}

.text-faded {
  line-height: 30px;
}

 p.quote {
  font-style: italic;
}

.testimonial {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 2%;
	margin-top: 2%;
}