header {
  background-image: url('../img/painting-header.jpg');
}

#portfolio img {
  width: 100%;
  vertical-align: top;
}

.text-faded {
  line-height: 30px;
}

 p.quote {
  font-style: italic;
}

.testimonial {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 2%;
	margin-top: 2%;
}

form {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

input, textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: black;
}

input:focus, textarea:focus {
  outline: none;
}

.radio-btn {
  display: inline-block;
  width: 2%;
  color: white;
}

input.btn-primary {
  width: 20%;
  margin-bottom: 30px;
  padding: 15px 30px;
}

.phonenumber {
  margin-top: 20px;
}