/*change colors*/
hr {
  border-color: #ffae00;
}
hr.light {
  border-color: white;
}
a {
  color: #ffae00;
}

a:hover,
a:focus {
  color: #ffc13b;
}

.navbar-default .navbar-header .navbar-brand {
   color: #ffae00; 
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #ffae00;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #ffae00 !important;
  background-color: transparent;
}

.navbar-default.affix .navbar-header .navbar-brand {
  color: #ffae00;
}

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: #ffae00;
}

.section-heading {
  color: black;
}

.text-primary {
  color: #ffae00;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ffae00;
  border-color: #ffae00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #ffc13b;
  border-color: #ffc13b;
}

.btn-primary .badge {
  color: #ffae00;
  background-color: white;
}

.btn-primary {
  background-color: #ffae00;
  border-color: #ffae00;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #ffc13b;
}


.bg-primary, #contact {
  background-color: #f5f5f5;
}

.portfolio-box .portfolio-box-caption {
  background: rgba(255, 174, 0, 0.9);
}

header {
  background-image: url('../img/painting-header.jpg');
}

header .header-content .header-content-inner h2 {
	font-size: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    color: rgba(255,255,255,.7);
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 30px;
}

#about p {
  color: black;
  opacity: .7;
}

#portfolio img {
  width: 100%;
  vertical-align: top;
}

.text-faded {
  line-height: 30px;
}

.residential p, .commercial p, #testimonials p {
  line-height: 30px;
}

 p.quote {
  font-style: italic;
}

.testimonial {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 2%;
	margin-top: 2%;
}

form {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

input, textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: black;
}

input.btn-primary {
  width: auto;
  margin-bottom: 30px;
  padding: 15px 30px;
}

input:focus, textarea:focus {
  outline: none;
}

.radio-btn {
  display: inline-block;
  width: 2%;
  color: white;
}

.phonenumber {
  margin-top: 20px;
}

.fa-home, .fa-building {
	color: #ffae00;
}

.residential, .commercial {
	margin-top: 10%;
}
/*.commercial {
	margin-top: 7%;
}*/

.service-box {
	margin: 5% auto 0;
}

.h3, h3 {
	margin: 5%;
}



@media (min-width: 768px) {
	.residential, .commercial {
		margin-top: 3%; 
	}

	.h3, h3 {
		margin: 2%;
	}
}